<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bluetooth.indrivemesh" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.bluetooth.indrivemesh.Global"
        android:allowBackup="true"
        android:icon="@mipmap/mesh_launcher_main"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/mesh_launcher_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Speech" >

        <activity
            android:name="com.bluetooth.indrivemesh.MainActivity"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity android:name="com.bluetooth.indrivemesh.IntroActivity2" />
        <activity android:name="com.bluetooth.indrivemesh.IntroActivity3" />
        <activity android:name="com.bluetooth.indrivemesh.IntroActivity4" />
        <activity android:name="com.bluetooth.indrivemesh.IntroActivity5" android:configChanges="orientation|screenSize" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name="com.bluetooth.indrivemesh.IntroActivity" />
    </application>

</manifest>